body { 
  font-family: Arial, sans-serif;
  margin: 0;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

#game-container {
  position: relative;
  width: 100vw;
  height: 100vh;
}

.story-image, .scene-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
  position: absolute;
  top: 0;
  left: 0;
}

.message {
  font-size: 20px;
  padding: 15px;
  background-color: rgba(0, 0, 0, 0.7);
  color: white;
  border-radius: 10px;
  position: absolute;
  bottom: 100px;
  left: 50%;
  transform: translateX(-50%);
  max-width: 80%;
  text-align: center;
  z-index: 10;
}

.button {
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  background-color: #008CBA;
  color: white;
  border: none;
  padding: 10px 20px;
  font-size: 18px;
  cursor: pointer;
  border-radius: 5px;
  z-index: 10;
}

.loading {
  font-size: 24px;
  font-weight: bold;
  color: #ff6347;
  position: absolute;
  top: 20px;
  right: 20px;
  z-index: 10;
}

.guard-image {
  width: 25%;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 15;
  animation: guardMove 4s infinite alternate;
}

@keyframes guardMove {
  from { left: 0; }
  to { left: 75%; }
